.calendar {
  border: black solid;
}

.event-group {
  border: black solid;
  top: "0%";
  left: "0%";
  height: "100%";
  width: "100%";
}

.event {
  position: absolute;
  background-color: #8db6cd;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
